/* Color Palate
Pale Green #98fb98
Mediam Green #65c89d
Dark Green #1f9562
Lilac #fbd7fb
Dark Lilac #ad65c8
*/

body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbd7fb;
}

/* Header */
.headerNav li{
  display: inline-block;
}
.headerNav{
  float: right;
}
header h1{
  width: 50%;
  margin: 0;
  float: left;
}
header{
  clear: both;
  overflow: auto;
}
/* Results aside*/
.results{
  float: left;
  padding: 20px;
  box-sizing: border-box;
  width: 20%;

}
.results ul{
  list-style: none;
}
/* survey content*/
.surveyMain{
  float: right;
  box-sizing: border-box;
  width: 80%;
}
.surveyItemContainer{
  float: left;
  width: 33.3333333%;
  padding: 10px;
  box-sizing: border-box;
}
.surveyImageBox img{
  width: 100%
}
/* footer */
footer{
  width: 100%;
  clear:both;
  text-align: center;
}
